*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans',sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tool-bar{
  background-color:#222f3e;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.sidebar{
   position: absolute;
   background-color:
 #222f3e;
   color: #fff;
   top: 0;
   left: 0;
   height: 100vh;
   width: 280px;
   transform: translateX(-100%);
   transition:all 0.4s ;
}

.sidebar li{
   list-style: none;
   padding: 1rem 2rem;
   border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
   display: flex;
   align-items: center;
   gap: 1rem;
   font-weight: 300;
   cursor: pointer;
}

i{
  cursor: pointer;
}

.sidebar li:hover{
  background-color: #fff;
  color: black;
}

.sidebar--open{
  transform: translateX(0%);
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.backdrop--open{
  display: block;
}

.counter{
  margin-top: 5rem;
}

.count {
  padding-left: 50%;
  color:chocolate;
  font-size: 3rem;
}

button {
  cursor: pointer;
  margin: 5px;
  border-radius: 0.7rem;
  font-size: 2rem;
  width:2.5rem;
  
}